{% extends 'base.html' %}
{% load static %}
{% block content %}

<div class="container">
    <div class=row>
        <h3 class="welcome-sign"> Welcome, {{user.username}}. Add some new city. </h3>
    </div>
    <div class=row>
        <form method="POST">
            {% csrf_token %}
            <div class="form-group">
                <input class="city-add" type="text" name="name" placeholder="City name">
                <button class="submit-icon" type="submit" name="submit-city"><i class="icon ion-md-add-circle-outline"
                                                                                size="large"></i>
                </button>
            </div>
        </form>
    </div>
    <div class=row>
        <h6 class="{{message_class}}">{{message}}</h6>
    </div>
    {% include "data.html" %}
</div>
<script src="{% static 'js/refresh.js' %}"></script>
{% endblock %}

