<!DOCTYPE html>
{% extends 'base.html' %}
{% load static %}
<html>
<body>
{% block content %}

<div class="container">
    <div class=row>
        <h3> Welcome, {{user.username}}. Add some new city. </h3>
    </div>
    <div class=row>
        <form method="POST">
            {% csrf_token %}
            <div class="form-group">
                <input class="city-add" type="text" name="name" placeholder="City name">
                <button class="submit-icon" type="submit"><i class="icon ion-md-add-circle-outline" size="large"></i>
                </button>
            </div>
        </form>
    </div>
</div>
</div>
<div class="container">
    <div class="row">
        {% for city_weather in weather_data %}
        <div class="col-lg-4">
            <div class="row">
                <div class="col-lg-4">
                    <h3>{{ city_weather.city }}</h3><img
                        src="http://openweathermap.org/img/w/{{ city_weather.icon }}.png" class="float-left">
                </div>
                <div class="col-lg-4">
                    <a href="{% url 'delete_url' city_weather.city %}"><i class="icon ion-md-remove-circle-outline"
                                                                          size="large"></i></a>
                </div>
            </div>

            <p>{{ city_weather.temperature }}° C</p>
            <p>{{ city_weather.description }}</p>
        </div>
        {% endfor %}
    </div>
           <div class="row">
            <a class="logout-footer" href="{% url 'logout_url' %}">Logout</a>
        </div>

</div>
{% endblock %}

</body>
</html>